@font-face {
    font-family: 'FC Sound';
    src: url('../assets/font/FCSound-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'FC Sound', sans-serif;
}

main {
    flex: 1;
    width: 100%;
    padding: 20px;
    display: block;
    /* เปลี่ยนจาก flex เป็น block ก็พอ */
}

.container {
    padding: 10px;
    border-radius: 10px;
    border: #d3d3d3 1px solid;
    font-size: medium;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*---------------------- Name House ----------------------*/
.house .form-row input[type="text"] {
    flex: 1;
}

.house .form-row {
    display: flex;
    align-items: start;
    /* ช่องว่างระหว่าง label กับ input */
}

.house .form-row label {
    white-space: nowrap;
    /* ป้องกันชื่อ label ตกบรรทัด */
    font-weight: bold;
    margin: 8px 10px 10px 0px;
    max-width: fit-content;
}

.upload-btn,
.submit-btn {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
}

.upload-btn:hover,
.submit-btn:hover {
    background-color: #0056b3;
}

span {
    font-size: smaller;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* เพิ่มระยะห่างระหว่างแถว */
}

.submit-btn {
    align-self: center;
    /* ปรับปุ่ม submit ให้อยู่ด้านขวา */
}

/*---------------------- dropdown ----------------------*/
.dropdown-form {
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 8px;
    overflow: hidden;
}

.dropdown-selected {
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.dropdown-options {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.form-row:last-child {
    border-bottom: none;
}

.dropdown-options .form-row label {
    flex: 1;
    font-weight: light;
    font-size: 14px;
    max-width: 30%;
}

.form-row input[type="text"] {
    width: 40%;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.dropdown-options .form-row input[type="checkbox"] {
    margin: 0px 10px 0px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.form-row .icon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.form-row .icon img {
    height: 30px;
    width: 30px;
}

#form-information input[type="text"] {
    flex: 1;
}

#form-information label {
    white-space: nowrap;
    /* ป้องกันชื่อ label ตกบรรทัด */
    margin: 8px 10px 10px 0px;
    max-width: 20%;
}

#form-structural label {
    white-space: nowrap;
    /* ป้องกันชื่อ label ตกบรรทัด */
    margin: 8px 10px 10px 0px;
    max-width: 40%;
}

#form-structural select, #form-roof select {
    flex: 1;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: lighter;
}

.dropdown-form:nth-child(odd) .dropdown-selected {
    background-color: #0077ff1f;
    /*เปลี่นที่ div คี่*/
}

.dropdown-form:nth-child(even) .dropdown-selected {
    background-color: #0077ff3d;
    /*เปลี่นที่ div คู่*/
}

/*---------------------- เว็บไซต์ ----------------------*/
@media (min-width: 768px) {
    main {
        max-width: 1024px;
        margin: auto;
        padding: 20px;
    }

    #form-information label {
        max-width: 8%;
    }

    #form-structural label {
        max-width: 20%;
    }


    footer {
        height: 180px;
        font-size: 14px;
    }
}