<!-- 📁 components/footer.html -->
<footer>
    <h3>
        ต้องการปรึกษาหรือบริการเพิ่มเติม<br>
        โทร 02-454-2043 หรือแอดไลน์ @t.home
    </h3>
</footer>

<style>
    footer {
        background-image: linear-gradient(rgba(34, 140, 253, 0.938), rgba(144, 198, 255, 0.26)),
            url('../assets/photo/img01.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 150px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    @media (max-width: 768px) {
        footer {
            font-size: 14px;
        }
    }
</style>